/* Reseteo b谩sico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(135deg, #ffd857, #000000);
  background-size: 400% 400%;
  animation: gradientMove 12s ease-in-out infinite alternate;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
    background-color: #ffd445; /* Amarillo pastel */
  }
  50% {
    background-position: 100% 50%;
    background-color: #000000;
  }
  100% {
    background-position: 0% 50%;
    background-color: #fdf5a6;
  }
}


main {
  width: 100%;
  height: 100vh;
}

/* Contenedor del slider */
.slider {
  position: relative;
  width: 100%;
  height: 100svh; /* ocupa toda la pantalla real en m贸viles */
  overflow: hidden;
}

/* Contenedor de las im谩genes */
.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
}

/* Cada imagen con borde animado */
.slides img {
  width: 100%;
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
  user-select: none;
  -webkit-user-drag: none;

  /* Borde animado */
  border: 5px solid; /* grosor del borde */
  border-image-slice: 1;
  border-width: 5px;
  border-radius: 0px;
  border-image-source: linear-gradient(270deg, #FFD93D, #FFA500, #FFFFFF, #FFD93D);
  animation: borderMove 8s linear infinite;
}


.shine-overlay {
  position: absolute;
  top: 0;
  left: -50%;
  width: 40%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.3) 50%,
    rgba(255,255,255,0) 100%
  );
  transform: skewX(-25deg);
  pointer-events: none;
  z-index: 10;
  animation: shine 3s linear infinite alternate; /*  aqu铆 el cambio */
}

@keyframes shine {
  0% { left: -50%; }
  100% { left: 110%; }
}

/* Animaci贸n del borde */
@keyframes borderMove {
  0% {
    border-image-source: linear-gradient(270deg, #FFD93D, #FFA500, #FFFFFF, #FFD93D);
  }
  50% {
    border-image-source: linear-gradient(270deg, #FFFFFF, #FFD93D, #FFA500, #FFFFFF);
  }
  100% {
    border-image-source: linear-gradient(270deg, #FFD93D, #FFA500, #FFFFFF, #FFD93D);
  }
}


.stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* no interfiere con el slider */
  overflow: visible;
  z-index: 15; /* encima de todo */
}

/* Estilo de cada estrella */
.star {
  position: absolute;
  width: 5px;  /* tama帽o variable */
  height: 5px;
  background: gold; /* color estrella */
  border-radius: 50%; /* forma redonda */
  opacity: 0.8;
  box-shadow: 0 0 6px gold, 0 0 10px gold;
  animation: floatStar linear infinite;
}

/* Animaci贸n de flotaci贸n */
@keyframes floatStar {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0.8;
  }
  50% {
    opacity: 0.4; /* parpadeo suave */
  }
  100% {
    transform: translateY(-200px) translateX(50px); /* se mueve diagonal hacia arriba */
    opacity: 0;
  }
}
